{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "首页" %}
{% endblock %}
{% block content %}
<section id="home">
    <div class="container">
        <h2>当日完成明细(<a href="/add/"> + 添加积分</a>)</h2>
        {% if records %}
        <table class="table">
            <thead>
                <th>排名</th>
                <th>姓名</th>
                <th>积分</th>
            </thead>
            <tbody>
                {% for item in records %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ request.user.username }}</td>
                    <td>{{ item.total_accumulation_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        {% else %}
        none
        {% endif %}
    </div>
</section>
{% endblock %}

