.newtonadmin .container .title{padding-top: 150px;}
.newtonadmin .form-button{margin-top: 60px;}
.newtonadmin .dropdown{padding-left: 10px;padding-right: 10px;}
.newtonadmin p{padding-bottom: 10px;}
.newtonadmin .table img{width: 250px}
.newtonadmin .pagination-simple{text-align: center;}
.newtonadmin h3 { 
	margin-top: 20px; 
	border-bottom: 1px solid #999;
}