.kyc .form-group {margin-bottom: 20px;}
.kyc .attachment p{font-size: 10px; font-weight: normal;}
.kyc .token-title{padding-top: 80px; font-size: 16px; color: #292929;}
.kyc .token-summary{padding-top: 60px;}
.kyc .token-title h2{font-size:48px; font-weight: normal; color: #292929;}
.kyc .info p{font-size: 20px;}
.kyc .item{padding: 0 10px;}
.kyc .tr{font-size: 18px; color: #292929;}
.kyc .td{font-size: 18px; color: #6c7f88;}
.kyc .token-content{padding-top: 120px;padding-bottom: 60px;}
.kyc .token-form{padding-bottom: 80px; padding-top: 80px;}
.kyc .token-btn{padding-top: 60px;}
.kyc .contract p{text-align: left;}
.kyc .token-title .divider{margin-bottom: 10px; margin-top: 10px;}
.kyc .token-title img{width: 100%;}
.kyc .token-title .warn{color: #f00; text-align: center;}
.kyc .dead-time{font-size: 30px;}
.kyc #id_cellphone_group_0, .kyc #id_cellphone_of_emergency_contact_0{width: 15%}
.kyc #id_cellphone_group_1, .kyc #id_cellphone_of_emergency_contact_1{width: 34%}
.kyc #id_location, .kyc #id_emergency_location{width: 100%}
.kyc #id_emergency_country, .kyc #id_country{width: 50%}
.kyc .form-container {
    max-width: 880pxs;
}
.kyc .form-container {
    width: 880px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.kyc .panel-heading {
    padding: unset;
}
.kyc .panel {
    width: 100%;
}
.kyc .panel-title {
    padding: 20px 0 15px 0;
    font-weight: bold;
    font-size: 18px;
}
.kyc .entity-container {
    margin-top: 15px;
    margin-bottom: 0;
}
.kyc .entity-container .item {
    margin-right: 50px;
    margin-left: 50px;
}
.kyc .entity-container .item input {
    vertical-align: middle;
}
.kyc .full-name {
    
}
.kyc .full-name input {
    display: inline;
    width: 190px;
    margin-left: 15px;
}
.kyc .full-name .last-name {
    margin-left: 20px;
}
.kyc select {
    max-width: 190px;
}
.kyc input.normal {
    display: inline;
    max-width: 190px;
}
.kyc .with-attachment {
    margin-bottom: 10px;
}
.kyc .with-tip {
    margin-bottom: 0;
}
.kyc .attachment-title {
    padding-left: 0;
    text-align: left;
    font-weight: unset;
    width: 60px;
}
.kyc .block-tip{
    text-align: center;
}
.kyc .emergency-name input {
    display: inline;
    width: auto;
    margin-left: 15px;
}
.kyc .emergency-name .last-name {
    margin-left: 20px;
}
.kyc .fullname-title {
    padding-right: 20px;
}
.kyc .select-file {
    max-width: 190px;
    margin-top: 5px;
}
.kyc .contribute-title {
    padding-bottom: 0;
}
.kyc .contribute-tip {
    margin-bottom: 15px;
}

@media (max-width: 880px) {
    .kyc .form-container {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .kyc .control-label{
        width: 100%;
    }
    .kyc .fullname-title {
        padding-left: 0; 
    }
    .kyc .full-name input {
        margin-left: 0;
        width: 100%;
    }
    .kyc .full-name .last-name {
        margin-left: 0;
    }
    .kyc .last-name-label {
        margin-left: 0;
        margin-top: 20px;
    }
    .kyc select {
        max-width: unset;
        width: 100%;
    }
    .kyc input.normal {
        max-width: unset;
    }
    .kyc .area-code-input, .kyc .phone-number-input {
        display: inline;
    }
    .kyc .area-code-input {
        width: 30% !important;
    }
    .kyc .phone-number-input {
        width: 68% !important;
    }
    .kyc .attachment-div {
        padding: 0;
    }
    .kyc .emergency-first-name {
        padding-left: 0;
    }
    .kyc .emergency-name .last-name {
        margin-left: 0;
    }
    .kyc .emergency-name input {
        width: 100%;
        margin-left: 0;
    }
    .kyc .organization-code {
        margin-top: 20px;
    }
    .kyc .entity-container .item {
        margin-left: 0;
        margin-right: 0;
    }
    .kyc .item {
        padding: 0 20px;
    }
}
.kyc .attachment-title {
    padding-right: 0;
}
.kyc .attachment-div {
    padding-left: 0;
}

.token-exchange-info table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .token-exchange-info table {
        width: 100%;
    }
}
.token-exchange-info table th {
    font-weight: unset;
}
.token-exchange-info table .title {
    font-weight: bold;
}

/* fill amount */
.fill-amount .form-horizontal {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.fill-amount .token-exchange-big-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.token-exchange-info .token-exchange-big-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.token-exchange-result table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .token-exchange-result table {
        width: 100%;
    }
    .kyc-info-title {
        font-size: 2em !important;
    }
}
.fill-expect-section .value {
    font-size: 30px;
    margin-right: 5px;
    margin-left: 5px;
}
.fill-expect-section .key {
    font-size: 16px;
}

.fill-expect-section .before-fill {
    font-style: normal;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
.fill-expect-section .tip {
    margin-top: 20px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.fill-expect-section .tip p {
    margin-bottom: 0;
    margin-top: 0;
}
.fill-amount .form-button {
    width: 100%;
}
@media (max-width: 768px) {
    .fill-expect-section .tip {
        width: 100%;
    }
    .fill-amount .form-horizontal {
        width: 100%;
    }
    .token-exchange-title {
        font-size: 1.7em !important;
    }
}
.token-check-condition .accept {
    margin: 0 !important;
    vertical-align: sub;
}
.kyc .form-control{
    color: unset;
}
.receive-panel {
}
.receive-panel .quantity {
    margin-bottom: 10px;
    margin-top: 50px;
}
.receive-panel .number {
    font-size: 24px; 
}
.receive-panel .unit {
    font-size: 14px;
}
.receive-panel .address {
    margin-bottom: 10px;
}
.receive-panel .qrcode {

}
.receive-panel .qrcode img {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.receive-panel .key {

}
.receive-panel .value {
    font-size: 24px;
}
@media (max-width: 768px) {
    .receive-panel .value {
        display: block;
    }
    .receive-panel .address .value {
        font-size: 16px;
    }
}